<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
    </script>
</head>


    <body ng-app="Orange" ng-controller="landingPage">
        <h1> {{message}} </h1>

        <input type="text" ng-model="tbValue"/>

        <p> {{tbValue}} </p>

        <button ng-click="changeMessage()" >Change</button>

        <script>
           const myapp =  angular.module("Orange", []);

           myapp.controller("landingPage", function($scope){
                $scope.message = "Hello world";
                $scope.tbValue = "Selvi";
                $scope.changeMessage = function(){
                    $scope.message = "Hello world 123";
                }
           })

        </script>

    </body>

</html>