<h1>Page2 {{dataFromPreviousPage.username}}</h1>


<table border="1">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="student in students">

            <td> {{$index+1}} </td>
            <td> {{student.name}} </td>
            <td> {{student.city}} </td>
            <td> 
                <button ng-click="handleSelection(student)">Select</button> 
            </td>

        </tr>
    </tbody>
</table>